# Firebase Admin
FIREBASE_SERVICE_ACCOUNT='{"project_id": "...", "private_key": "...", "client_email": "..."}'
FIREBASE_REALTIME_DB_URL=https://cotimer-5b23e-default-rtdb.asia-southeast1.firebasedatabase.app

# Trello API
TRELLO_KEY=your_trello_key
TRELLO_TOKEN=your_trello_token

# Slack API
SLACK_TOKEN=xoxb-your-token
